body {
    font-family: Arial, sans-serif;
    background-color: #1e1e2f; 
    color: #f0f0f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #5350fa; 
    color: #ffffff; 
    text-align: center;
    padding: 1rem 0;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background: #282a36; 
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

h2 {
    color: #5350fa;
    margin-bottom: 1rem;
}

form, table, #summary {
    width: 100%;
    margin-bottom: 1rem;
}

form input, form select, form button {
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 100%;
    border: 1px solid #44475a; 
    border-radius: 4px;
    background-color: #1e1e2f; 
    color: #f0f0f5; 
}

form input::placeholder {
    color: #6272a4; 
}

form button {
    background-color: #5350fa;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #5350fa;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: #f8f8f2;
}

table th, table td {
    border: 1px solid #44475a; 
    padding: 0.5rem;
    text-align: left;
}

table th {
    background-color: #6272a4; 
    color: #f0f0f5; 
}

table tr:nth-child(even) {
    background-color: #44475a; 
}

table tr:nth-child(odd) {
    background-color: #282a36; 
}

#summary p {
    font-size: 1.2rem;
    color: #f8f8f2;
}

#total-receitas{
    font-weight: bold;
    color: #50fa7b; 
}
#total-despesas{
    font-weight: bold;
    color: #e21919; 
}
#saldo-final{
    font-weight: bold;
    color: #f0f0f0; 
}